{% extends 'base.html' %}

{% block title %}{{ publisher.name }}{% endblock %}

{% block content %}

<h1>{{ publisher.name }}</h1>

<h2>Articles</h2>

{% if articles %}
<ul>
    {% for article in articles %}
    <li>
        <a href="{% url 'article_detail' article.pk %}">
            {{ article.title }}
        </a>
        by {{ article.author.username }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No articles for this publisher.</p>
{% endif %}

{% if user.role == 'Reader' %}
    <a href="{% url 'subscribe_publisher' publisher.pk %}">
        {% if publisher in user.subscriptions_publishers.all %}
            Unsubscribe
        {% else %}
            Subscribe
        {% endif %}
    </a>
{% endif %}

{% if user.role == 'Editor' %}
    <a href="{% url 'edit_publisher' publisher.pk %}">Edit</a>
{% endif %}

<a href="{% url 'article_list' %}">|  Back</a>

{% endblock %}